@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #373737;
}

.app {
  max-width: 375px;
  min-height: 755px;
  margin: 1% auto;
  background: #fff;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 0 34px rgba(152, 163, 207, 0.2);
  margin-bottom: 30px; //temp
}

.tittle-wrapper {
  display: flex;
}

.app-header h1 {
  color: #1c1c1c;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.07em;
  margin-left: 16px;
}

.card-counter {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -1px;
  color: #98a3cf;
}

.add-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #98a3cf;
  box-shadow: 0 20px 34px rgba(152, 163, 207, 0.3);
  margin-right: 16px;
}

.card-front {
  position: relative;
  height: 147px;
  margin: 12px 16px;
  background: #ffffff;
  border-radius: 16px;
  filter: drop-shadow(0px 20px 34px rgba(152, 163, 207, 0.3));
}

.edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.card-front p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1c1c1c;
}

.btn-delete {
  cursor: pointer;
}

.edit-value {
  width: 310px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 55px 16px 14px;
  padding-inline: 15px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #98a3cf;
}

.btn-add-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #98a3cf;
  box-shadow: 0 20px 34px rgba(152, 163, 207, 0.3);
  margin-right: 16px;
}

.edit-card-back {
  height: 147px;
  margin: 12px 16px;
  background: #ffffff;
  border-radius: 16px;
  filter: drop-shadow(0px 20px 34px rgba(152, 163, 207, 0.3));
}

.edit-value {
  width: 310px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 55px 16px 14px;
  padding-inline: 15px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #98a3cf;
}

.edit-value:focus {
  outline: none;
}

.card-front {
  position: relative;
}

.card-counter {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -1px;
  color: #98a3cf;
  margin-left: 5px;
}

.btn-add-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #98a3cf;
  box-shadow: 0 20px 34px rgba(152, 163, 207, 0.3);
  margin-right: 16px;
}

.add-card-front,
.add-card-back {
  height: 147px;
  margin: 12px 16px;
  background: #ffffff;
  border-radius: 16px;
  filter: drop-shadow(0px 20px 34px rgba(152, 163, 207, 0.3));
}

.edit-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.card-front p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1c1c1c;
}
.new-value {
  width: 310px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 55px 16px 14px;
  padding-inline: 15px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #98a3cf;
}

.new-value:focus {
  outline: none;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-wrapper button {
  width: 110px;
  height: 34px;
  border-radius: 30px;
  margin: 0 16px 16px;
}

.btn-cancel,
.btn-back {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #98a3cf;
  color: #98a3cf;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.btn-next,
.btn-save {
  cursor: pointer;
  background: #98a3cf;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.front-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.front-card-info p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #98a3cf;
  margin-left: 16px;
}

.btn-delete {
  cursor: pointer;
}

.edit-value {
  margin-top: 14px;
}

.add-card-back .new-value {
  margin-top: 14px;
}

.card {
  background: red;
  padding: 36px;
  cursor: pointer;
}
